<ion-content class="bg-purple">

    <form id="login-form" *ngIf="form" [formGroup]="form" (ngSubmit)="doLogin()">
    
        <div class="wrapper flex-base login">
            <span class="col-xs-12 titulo-base flex-item flex-top">Login</span>

            <div *ngIf="!step2" class="wrapper flex-base login">
                <!-- step 1 -->
                <div class="step-1 col-xs-12 flex-main-login">
                    <div class="form-group">
                        <label for="login" [class.opacityHalf]="form.controls.code.valid">Código CS</label>
                        <input type="number" class="form-control" id="login" name="login" placeholder="Código CS" formControlName="code">
                        <span id="helpBlock" class="help-block">Insira seu código CS.</span>
                    </div>
                </div>

                <p class="step-1 col-xs-12 flex-item flex-bottom">Senha 
                    <button type="button" (click)="step2=true" [class.active]="form.controls.code.valid" [disabled]="!form.controls.code.valid" class="btn btn-purple btn-round" id="goto-step-2">v</button>
                </p>
            </div>

            <div *ngIf="step2" class="wrapper flex-base login">
                <!-- step 2 -->
                <div class="step-2 col-xs-12 flex-main-login">
                    <div class="form-group">
                        <label for="senha" [class.opacityHalf]="form.controls.password.valid">Senha do Sistema AD</label>
                        <input type="password" class="form-control hidelabel" id="senha" name="senha" placeholder="Senha do Sistema AD" formControlName="password">
                        <span id="helpBlock" class="help-block">Senha interna para acessar a plataforma.</span>
                    </div>
                </div>

                <!-- voltar a step 1 -->
                <div class="step-2"><button (click)="step2=false" id="goto-step-1"></button></div>

                <div class="step-2 flex-item">
                    <button [class.active]="form.valid" [disabled]="!form.valid" class="btn btn-block btn-purple btn-k-submit" id="login-submit" type="submit">Acessar</button>
                </div>
            </div>
        </div>
    </form>
    
</ion-content>
