@font-face{font-family:'alte_din_1451_mittelschriftRg';src:url("../fonts/din1451alt-webfont.woff2") format("woff2"),url("../fonts/din1451alt-webfont.woff") format("woff");font-weight:normal;font-style:normal}html,body,.zconfig{height:100%;width:100%;margin:0 auto;text-align:center;font-family:'alte_din_1451_mittelschriftRg'}:-ms-input-placeholder{color:#fff !important;opacity:0.2}::-ms-input-placeholder{color:#fff !important;opacity:0.2}::placeholder{color:#fff !important;opacity:0.2}.wrapper{text-align:left}.titulo-base{font-size:25px;font-weight:bold}.opacityFull{opacity:1 !important}.opacityBase{opacity:0.2 !important}.opacityHalf{opacity:0.5 !important}.opacity0{opacity:0 !important}.bg-purple{background-color:#882082;color:#fff}.bg-white{background-color:white;color:black}.logo-raizen{max-height:70px;max-width:126px}
/*# sourceMappingURL=global.css.map */
