<ion-content>
    <div class="wrapper main-base permission">

        <div class="col-xs-12">
            <div class="o-icon"><img src="../assets/imgs/checked@3x.png" class="img-responsive n-icons-large"></div>
            <p class="o-title">Janaína, cadastro realizado com sucesso!</p>
        </div>

        <!-- step 1 -->
        <div class="col-xs-12 main-content">
            <p class="item-info box-title">
                <strong>Permissões</strong>
                <label class="opacityHalf">Customize os dados que você permite exibição para outros usuários.</label>
            </p>

            <p class="item-info">
                <span class="pull-right">
                    <ion-item>
                        <ion-toggle color="royal" checked="true"></ion-toggle>
                    </ion-item>
                </span>
                <strong><label class="opacityHalf">E-mail</label></strong>
            </p>
            <p class="item-info">
                <span class="pull-right">
                    <ion-item>
                        <ion-toggle color="royal" checked="false"></ion-toggle>
                    </ion-item>
                </span>
                <strong><label class="opacityHalf">Local de trabalho</label></strong>
            </p>
            <div class="clearfix"></div>
        </div>

        <div class="main-item">
            <button (click)="doSave()" class="btn btn-block btn-purple btn-k-submit btn-fix-footer" id="login-submit" type="submit">Acessar</button>
        </div>

    </div>
</ion-content>
