@import 'content';

// additional
.additional {
	strong {
		font-size: 16px;
		line-height: 35px;
	}
	.o-icon {
		@include border-radius(100%);
		background-color: white;
		width: 94px;
		height: 94px;
		line-height: 94px;
		text-align: center;
		vertical-align: middle;
		padding: 0px;
		margin: 55px auto 25px;
		@include box-shadow(0 8px 17px 0 rgba(0, 0, 0, 0.2));

		img {
			border-radius: 100%;
		}
	}
	.icon-camera {
		position: relative;
		top: -60px;
		right: -30px;
	}
	.btn-back {
		position: absolute;
		top: 0;
		right: 0;
		background: transparent;
		color: white;
		margin: 15px 15px 0 0;
		box-shadow: none;
		outline: none;

		&:hover, &:focus, &:active {
			box-shadow: none;
			outline: none;
		}
	}

	.txt_typed {
		margin: 20px 0;
		font-size: 16px;
		line-height: 28px;

		&.empty {
			border: none;
			color: $cor_roxo_claro;
			border-left: 3px solid $input_border;
			padding-left: 10px;
		}
	}

	.content {
		margin-bottom: 150px;
	}

	.accept {
		position: fixed;
		bottom: 90px;
		min-height: 60px;
		line-height: 60px;
		width: 100%;
		background-color: $cor_roxo_base;
		z-index: 333;

		.custom-label {
			background-color: transparent;
			color: white;
			padding: 4px 6px;
			border-radius: 15px;
		}
		.custom-check input:checked ~ .custom-label {
			color: white;
			background-color: #00F;
		}
		.custom-check {
			display: block;
			position: relative;
			padding: 15px 10px 10px 65px;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			margin: 0;
			text-align: left;
			line-height: 28px;
			font-weight: 400;
			text-transform: initial;
			font-size: 16px;
		}
		.custom-check input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
		}
		.checkmark {
			position: absolute;
			top: 0;
			left: 0;
			height: 32px;
			width: 32px;
			border: 1px solid #ccc;
			margin-top: 15px;
			margin-left: 15px;
			@include border-radius(100%);
		}

		.custom-check input:checked ~ .checkmark {
			background: url('../img/check.png') no-repeat center center;
			background-size: 32px 32px;
		}
		.custom-check input:checked ~ .checkmark:after {
			display: block;
		}

	}

	.steps {
		position: fixed;
		bottom: 0;
		min-height: 90px;
		line-height: 90px;
		border-top: 1px solid $btn_fundo;
		width: 100%;
		background-color: $cor_roxo_base;
		z-index: 333;

		.indicator {
			width: 12px;
			height: 12px;
			background-color: white;
			display: inline-block;
			@include border-radius(100%);
			opacity: 0.5;
			vertical-align: middle;
			margin: 0 0 0 6px;

			&.active {
				opacity: 1;
			}

			&:first-child {
			margin: 0 0 0 15px;
			}
		}

		.next {
			width: 60px;
			height: 60px;
			background: transparent;
			background-image: url(../img/steps-next@3x.png);
			background-size: 60px 60px;
			border: none;
			outline: none;
			box-shadow: none;
			margin: 15px 15px 0 0;
		}
	}

}

.full-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 444;
	display: none;

	strong {
		font-size: 16px;
		line-height: 35px;
	}

	textarea.moreinfo {
		width: 100%;
		height: 80vh;
		font-size: 16px;
		line-height: 28px;
		border: none;
	}

	a {
		margin-top: 15px;
	}
}





/*
.btn-purple {
	color: $btn_texto;

	&:focus, &:active, &:active:focus, &:hover, &.active {
		background-color: $btn_fundo_hover !important;
		color: $btn_texto_hover !important;
	}
}

// sobrescrita bootstrap
.help-block {
	color: $help_texto;
}
.form-control {
	@extend .titulo-base;
	background-color: transparent;
	color: $input_texto;
	border: none;
	border-bottom: 1px solid $input_border;
	padding: 0 10px 10px 10px;
	@include border-radius(0);
	@include box-shadow(none);
	&:focus, &:active, &:active:focus, &:hover {
		outline: none !important;
		@include box-shadow(none);
	}
}

// custom form
.login .form-group label, #goto-step-1 {
	opacity: 0;
}
.login .step-2 {
	display: none;
}
#login-form {
	height: 100%
}

// spash, versão b
.bg-splash {
	background: transparent url(../img/bg.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.wrapper {
		@extend .zconfig;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

*/