@import 'global';

// flex
.flex-base {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: stretch;
	flex-direction: column;
}
.flex-main-login {
	flex-grow: 1;
	margin-top: 15vh;
}
.flex-main-content {
	flex-grow: 1;
	margin-top: 35px;
}
// maior que vga/iphone 5
@media (min-width:321px){
	.flex-main-content {
		margin-top: 45px;
	}
}
.flex-item {
	width: 100%;
	display: block;
}
.flex-top {
	align-self: flex-start;
	flex-shrink: 0;
	margin-top: 30px;
}
.flex-bottom {
	align-self: flex-end;
	flex-shrink: 0;
	margin-bottom: 30px;
}

// content
.main-base {
	height: 100%;
	width: 100%;
}
.main-item {
	width: 100%;
	display: block;
}
.main-top {
	margin-top: 30px;
}
.main-content {
	margin-top: 35px;
	margin-bottom: 46px;

	p {
		margin-bottom: 15px;
	}
}
// maior que vga/iphone 5
@media (min-width:321px){
	.main-content {
		margin-top: 45px;
	}
}

// btn
.btn-round {
	@include border-radius(100%);
	width: 30px;
	height: 30px;
	line-height: 30px;
	padding: 0;
	text-align: center;
	vertical-align: sub;
}

.btn-purple {
	margin: 0 10px;
	background-color: $btn_fundo;
	color: white;
	outline: none;

	&:focus, &:active, &:active:focus, &:hover, &.active {
		outline: none !important;
		text-decoration: none;
		background-color: $btn_fundo_hover !important;
		color: $btn_texto_hover !important;
	}
}

.btn-k-submit {
	margin: 0;
	padding: 12px;
	text-weight: bold;
	@include border-radius(0);
}

.btn-blue {
	background-color: $btn_fundo_hover !important;
	color: $btn_texto_hover !important;
	outline: none;

	&:focus, &:active, &:active:focus, &:hover, &.active {
		outline: none !important;
		text-decoration: none;

	}
}

.btn-fix-footer {
	position: fixed;
	bottom: 0;
	z-index: 999;
}

// content
.item-info {
	strong {
		font-size: 16px;
		line-height: 35px;
	}
	label {
		font-weight: 400;
		font-size: 13px;
		display: block;
	}
	span {
		font-size: 16px;
		display: block;
	}

}

// permissoes
.permission {
	label {
		font-size: 16px;
	}
	.o-icon {
		@include border-radius(100%);
		background-color: white;
		width: 94px;
		height: 94px;
		line-height: 94px;
		text-align: center;
		vertical-align: middle;
		padding: 20px;
		margin: 25px 25px 25px 0;
		@include box-shadow(0 8px 17px 0 rgba(0, 0, 0, 0.2));
	}
	.o-title {
		color: $overlay_title_color;
		font-size: 24px;
		line-height: 35px;
		margin: 0 10px 0 0;
		display: block;
	}
	.box-title {
		margin: 60px 0 45px;
	}
}
