@import 'content';

:-ms-input-placeholder {color: $form_cadastro_color !important; opacity: 1; }
::-ms-input-placeholder {color: $form_cadastro_color !important; opacity: 1; }
::placeholder {color: $form_cadastro_color !important; opacity: 1; }

.main-content {
	p {
		margin-bottom: 14px;
	}
}

.titulo-base {
	color: $form_cadastro_color;
}

.item-info {

	input {
		width: 100%;
		border: none;
		border-bottom: 1px solid $input_form_cadastro_border;

		&:focus, &:active, &:active:focus, &:hover, &.active {
			outline: none !important;
			text-decoration: none;
			color: $cor_roxo_base;
			border-bottom: 1px solid $cor_roxo_base;
		}
	}

}

// custom form
.form-group label {
	@extend .opacityHalf;
}