// variaveis
$cor_roxo_base: #882082;
$cor_azul_claro: #05C3DE;
$cor_roxo_claro: #C38FC0;

$spash_bg: $cor_roxo_base;
$spash_texto: white;

$btn_fundo: #72186D;
$btn_fundo_hover: $cor_azul_claro;
$btn_texto: $cor_roxo_base;
$btn_texto_hover: white;

$help_texto: white;

$input_border: #05C3DE;
$input_texto: white;

$placeholder_texto: white;

$overlay_title_color: #0A2022;
$overlay_msg_color: #78808E;
$overlay_btn_border: #EBEBEB;

$notify_white_title: $overlay_title_color;
$notify_white_msg: #909090;

$form_cadastro_color: #A6ADB8;
$input_form_cadastro_border: $form_cadastro_color;

// font
@font-face {
	font-family: 'alte_din_1451_mittelschriftRg';
	src: url('../fonts/din1451alt-webfont.woff2') format('woff2'),
		 url('../fonts/din1451alt-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// mixing
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	 -moz-border-radius: $radius;
		-ms-border-radius: $radius;
			border-radius: $radius;
}
@mixin box-shadow($args) {
	-webkit-box-shadow: $args;
	 -moz-box-shadow: $args;
		-ms-box-shadow: $args;
			box-shadow: $args;
}
@mixin transition($args) {
	-webkit-transition: $args;
		 -moz-transition: $args;
		-ms-transition: $args;
		 -o-transition: $args;
			transition: $args;
}
// @include border-radius(5px);
// @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
// @include transition(all 300ms ease-in-out);

// geral
html, body, .zconfig {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-family: 'alte_din_1451_mittelschriftRg';
}
:-ms-input-placeholder { color: $placeholder_texto !important; opacity: 0.2; }
::-ms-input-placeholder { color: $placeholder_texto !important; opacity: 0.2; }
::placeholder { color: $placeholder_texto !important; opacity: 0.2; }

.wrapper {
	text-align: left;
}

.titulo-base {
	font-size: 25px;
	font-weight: bold;
}

// opacity
.opacityFull {
	opacity: 1 !important;
}
.opacityBase {
	opacity: 0.2 !important;
}
.opacityHalf {
	opacity: 0.5 !important;
}
.opacity0 {
	opacity: 0 !important;
}

// telas
.bg-purple {
	background-color: $spash_bg;
	color: $spash_texto;
}
.bg-white {
	background-color: white;
	color: black;
}

// imagens
.logo-raizen {
	max-height: 70px;
	max-width: 126px;
}