@import 'content';

.btn-purple {
	color: $btn_texto;

	&:focus, &:active, &:active:focus, &:hover, &.active {
		background-color: $btn_fundo_hover !important;
		color: $btn_texto_hover !important;
	}
}

// sobrescrita bootstrap
.help-block {
	color: $help_texto;
}
.form-control {
	@extend .titulo-base;
	background-color: transparent;
	color: $input_texto;
	border: none;
	border-bottom: 1px solid $input_border;
	padding: 0 10px 10px 10px;
	@include border-radius(0);
	@include box-shadow(none);
	&:focus, &:active, &:active:focus, &:hover {
		outline: none !important;
		@include box-shadow(none);
	}
}

// custom form
.login .form-group label, #goto-step-1 {
	opacity: 0;
}
.login .step-2 {
	display: none;
}
#login-form {
	height: 100%
}

// spash, versão b
.bg-splash {
	background: transparent url(../img/bg.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.wrapper {
		@extend .zconfig;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}