@import 'global';

.notice-white,
.notice {
	background-color: $cor_roxo_base;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: left;

	.n-content {
		background: transparent;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		min-height: 45vh;
		text-align: left;
		padding: 15px 20px;
		padding-bottom: 75px;

		.n-title {
			color: white;
			font-size: 24px;
			line-height: 35px;
			margin: 20px 0 10px;
			display: block;
		}

		.n-msg {
			color: white;
			font-size: 14px;
		}
	}

	.n-btn {
		background-color: $cor_azul_claro;
		color: white;
		font-size: 14px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 60px;
		text-align: center;
		@include border-radius(0);
		box-shadow: none;
		outline: none;
		&:hover, &:focus, &:active {
			box-shadow: none;
			outline: none;
		}
	}

	.n-skip {
		position: absolute;
		top: 0;
		right: 0;
		background: transparent;
		color: white;
		margin: 15px 15px 0 0;
		box-shadow: none;
		outline: none;
		&:hover, &:focus, &:active {
			box-shadow: none;
			outline: none;
		}
	}

}
.notice-white {
	background-color: white;

	.n-content {
		text-align: center;

		.n-title {
			color: $notify_white_title;
		}

		.n-msg {
			color: $notify_white_msg;
		}
	}
	.n-btn {
		background-color: $cor_roxo_base;
	}
}

// imagens
.n-image {
	width: 330px;
}