@import 'global';

.overlay {
	display: none;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: left;

	.o-content {
		background-color: white;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		min-height: 45vh;
		text-align: left;
		padding: 15px 20px;
		padding-bottom: 75px;

		.o-icon {
			@include border-radius(100%);
			background-color: white;
			width: 94px;
			height: 94px;
			line-height: 94px;
			text-align: center;
			vertical-align: middle;
			padding: 0;
			margin: -67px 0 0 0;
			@include box-shadow(0 8px 17px 0 rgba(0, 0, 0, 0.2));
		}

		.o-title {
			color: $overlay_title_color;
			font-size: 24px;
			line-height: 35px;
			margin: 20px 0 10px;
			display: block;
		}

		.o-msg {
			color: $overlay_msg_color;
			font-size: 14px;
		}
	}

	.o-btn {
		background-color: white;
		color: $cor_roxo_base;
		font-size: 14px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 60px;
		text-align: center;
		border-top: 2px solid $overlay_btn_border;
		@include border-radius(0);
		box-shadow: none;
		outline: none;
		&:hover, &:focus, &:active {
			box-shadow: none;
			outline: none;
		}
	}
	.o-btn-half {
		background-color: white;
		color: $cor_roxo_base;
		font-size: 14px;
		position: absolute;
		bottom: 0;
		width: 50%;
		height: 60px;
		text-align: center;
		border-top: 2px solid $overlay_btn_border;
		box-shadow: none;
		outline: none;
		&:hover, &:focus, &:active {
			box-shadow: none;
			outline: none;
		}
	}
	.o-btn-half-left {
		left: 0;
		border-right: 2px solid $overlay_btn_border;
		color: $overlay_msg_color;
	}
	.o-btn-half-right {
		left: 50%;
		color: $cor_roxo_base;
	}
}



// imagens
.n-icons {
	width: 40px;
}
.n-icons-large {
	width: 55px;
}