page-signup-field-photo {
.btn-escape{position:absolute;top:0;right:0;background:transparent;color:white;margin:15px 15px 0 0;box-shadow:none;outline:none}
.btn-escape:hover,.additional .btn-back:focus,.additional .btn-back:active{box-shadow:none;outline:none}
.additional .steps{position:fixed;bottom:0;min-height:90px;line-height:90px;border-top:1px solid #72186D;width:100%;background-color:#882082;z-index:333}
.additional .steps .indicator{width:12px;height:12px;background-color:white;display:inline-block;-webkit-border-radius:100%;-moz-border-radius:100%;-ms-border-radius:100%;border-radius:100%;opacity:0.5;vertical-align:middle;margin:0 0 0 6px}
.additional .steps .indicator.active{opacity:1}
.additional .steps .indicator:first-child{margin:0 0 0 15px}
.additional .steps .next{width:60px;height:60px;background:transparent;background-image:url(../assets/imgs/steps-next@3x.png);background-size:60px 60px;border:none;outline:none;box-shadow:none;margin:15px 15px 0 0}

}
