<ion-content class="bg-purple">
    <div class="wrapper flex-base additional">
        <span class="col-xs-12 titulo-base flex-item flex-top">Qual imagem representa sua área?</span>

        <div class="step-1 col-xs-12 flex-main-login">
            Foto de capa da sua área 
        </div>
        
        <div class="step-1 col-xs-12 flex-main-login">
            LISTA DE FOTOS
        </div>
        
        <div class="wrapper flex-base">
            <button type="button" (click)="doEscape()" class="btn btn-escape">Pular</button>
        </div>

        <div class="steps">
            <span class="indicator active"></span>
            <span class="indicator"></span>
            <span class="indicator"></span>
            <button type="submit" class="pull-right next"></button>
        </div>
    </div>
</ion-content>