<ion-content class="bg-purple">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="doSave()">

        <div [hidden]="!inputOpened" class="bg-white full-modal text-left">
            <div class="col-xs-12">
                    <a href="#"  (click)="inputOpened=false" class="pull-right"><img src="../assets/imgs/close.png"></a>
                    <div class="clearfix"></div>
                    <p><strong>Conte um pouco mais sobre você</strong></p>
                    <textarea formControlName="about" class="moreinfo"></textarea>
            </div>
        </div>
        
        <div class="wrapper main-base additional">

                <div class="col-xs-12 text-center">
                    <div class="o-icon"><img src="../assets/imgs/no-user.png" class="img-responsive n-icons-large"></div>
                    <img src="../assets/imgs/icon-camera.png" class="icon-camera">
                </div>

                <!-- step 1 -->
                <div class="col-xs-12 content" (click)="inputOpened=true">
                    <strong>Conte um pouco mais sobre você</strong>
                    <div class="txt_typed empty" unselectable="on" onselectstart="return false;" onmousedown="return false;">{{ this.form.controls.about.value || 'Comece um resumo sobre você aqui' }}</div>
                </div>

                <button type="button" (click)="doPrevious()" class="btn btn-back">Voltar</button>

                <div class="accept">
                    <label class="custom-check"> Eu aceito o termo de uso
                        <input type="checkbox"  formControlName="accept_tos" value="1">
                        <span class="checkmark"></span>
                    </label>
                </div>

                <div class="steps">
                        <span class="indicator active"></span>
                        <span class="indicator"></span>
                        <span class="indicator"></span>
                        <button type="submit" class="pull-right next" [class.active]="form.valid" [disabled]="!form.valid"></button>
                </div>
        </div>

    </form>
</ion-content>
