//################################################################################
//# Global
//################################################################################

// variaveis
$cor_roxo_base: #882082;
$cor_azul_claro: #05C3DE;
$cor_roxo_claro: #C38FC0;

$spash_bg: $cor_roxo_base;
$spash_texto: white;

$btn_fundo: #72186D;
$btn_fundo_hover: $cor_azul_claro;
$btn_texto: $cor_roxo_base;
$btn_texto_hover: white;

$help_texto: white;

$input_border: #05C3DE;
$input_texto: white;

$placeholder_texto: white;

$overlay_title_color: #0A2022;
$overlay_msg_color: #78808E;
$overlay_btn_border: #EBEBEB;

$notify_white_title: $overlay_title_color;
$notify_white_msg: #909090;

$form_cadastro_color: #A6ADB8;
$input_form_cadastro_border: $form_cadastro_color;

// font
@font-face {
	font-family: 'alte_din_1451_mittelschriftRg';
	src: url('../assets/fonts/din1451alt-webfont.woff2') format('woff2'),
		 url('../assets/fonts/din1451alt-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// mixing
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	 -moz-border-radius: $radius;
		-ms-border-radius: $radius;
			border-radius: $radius;
}
@mixin box-shadow($args) {
	-webkit-box-shadow: $args;
	 -moz-box-shadow: $args;
		-ms-box-shadow: $args;
			box-shadow: $args;
}
@mixin transition($args) {
	-webkit-transition: $args;
		 -moz-transition: $args;
		-ms-transition: $args;
		 -o-transition: $args;
			transition: $args;
}
// @include border-radius(5px);
// @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
// @include transition(all 300ms ease-in-out);

// geral
html, body, .zconfig {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-family: 'alte_din_1451_mittelschriftRg';
}
:-ms-input-placeholder { color: $placeholder_texto !important; opacity: 0.2; }
::-ms-input-placeholder { color: $placeholder_texto !important; opacity: 0.2; }
::placeholder { color: $placeholder_texto !important; opacity: 0.2; }

.wrapper {
	text-align: left;
}

.titulo-base {
	font-size: 25px;
	font-weight: bold;
}

// opacity
.opacityFull {
	opacity: 1 !important;
}
.opacityBase {
	opacity: 0.2 !important;
}
.opacityHalf {
	opacity: 0.5 !important;
}
.opacity0 {
	opacity: 0 !important;
}

// telas
.bg-purple {
	background-color: $spash_bg;
	color: $spash_texto;
}
.bg-white {
	background-color: white;
	color: black;
}

// imagens
.logo-raizen {
	max-height: 70px;
	max-width: 126px;
}


//################################################################################
//# Content
//################################################################################

// flex
.flex-base {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: stretch;
	flex-direction: column;
}
.flex-main-login {
	flex-grow: 1;
	margin-top: 15vh;
}
.flex-main-content {
	flex-grow: 1;
	margin-top: 35px;
}
// maior que vga/iphone 5
@media (min-width:321px){
	.flex-main-content {
		margin-top: 45px;
	}
}
.flex-item {
	width: 100%;
	display: block;
}
.flex-top {
	align-self: flex-start;
	flex-shrink: 0;
	margin-top: 30px;
}
.flex-bottom {
	align-self: flex-end;
	flex-shrink: 0;
	margin-bottom: 30px;
}

// content
.main-base {
	height: 100%;
	width: 100%;
}
.main-item {
	width: 100%;
	display: block;
}
.main-top {
	margin-top: 30px;
}
.main-content {
	margin-top: 35px;
	margin-bottom: 46px;

	p {
		margin-bottom: 15px;
	}
}
// maior que vga/iphone 5
@media (min-width:321px){
	.main-content {
		margin-top: 45px;
	}
}

// btn
.btn-round {
	@include border-radius(100%);
	width: 30px;
	height: 30px;
	line-height: 30px;
	padding: 0;
	text-align: center;
	vertical-align: sub;
}

.btn-purple {
	margin: 0 10px;
	background-color: $btn_fundo;
	color: white;
	outline: none;

	&:focus, &:active, &:active:focus, &:hover, &.active {
		outline: none !important;
		text-decoration: none;
		background-color: $btn_fundo_hover !important;
		color: $btn_texto_hover !important;
	}
}

.btn-k-submit {
	margin: 0;
	padding: 12px;
	text-weight: bold;
	@include border-radius(0);
}

.btn-blue {
	background-color: $btn_fundo_hover !important;
	color: $btn_texto_hover !important;
	outline: none;

	&:focus, &:active, &:active:focus, &:hover, &.active {
		outline: none !important;
		text-decoration: none;

	}
}

.btn-fix-footer {
	position: fixed;
	bottom: 0;
	z-index: 999;
}

// content
.item-info {
	strong {
		font-size: 16px;
		line-height: 35px;
	}
	label {
		font-weight: 400;
		font-size: 13px;
		display: block;
	}
	span {
		font-size: 16px;
		display: block;
	}

}

// permissoes
.permission {
	label {
		font-size: 16px;
	}
	.o-icon {
		@include border-radius(100%);
		background-color: white;
		width: 94px;
		height: 94px;
		line-height: 94px;
		text-align: center;
		vertical-align: middle;
		padding: 20px;
		margin: 25px 25px 25px 0;
		@include box-shadow(0 8px 17px 0 rgba(0, 0, 0, 0.2));
	}
	.o-title {
		color: $overlay_title_color;
		font-size: 24px;
		line-height: 35px;
		margin: 0 10px 0 0;
		display: block;
	}
	.box-title {
		margin: 60px 0 45px;
	}
}