<ion-content class="bg-purple">
    <div class="notice n-signup">
            <div class="n-content">
                    <img src="../assets/imgs/n-welcome@3x.png" class="img-responsive center-block">
                    <span class="n-title">Bem vinda, Janaína!</span>
                    <div class="n-msg">
                            <p>Vamos desbravar e compartilhar conhecimento. O que você quer aprender?</p>
                    </div>
                    <button type="button" (click)="doNext()" class="btn n-btn">Continuar</button>
            </div>
    </div>
</ion-content>
