page-signup-field-welcome {
.notice-white,.notice{background-color:#882082;position:absolute;top:0;left:0;width:100%;height:100%;text-align:left}
.notice-white .n-content,.notice .n-content{background:transparent;position:absolute;bottom:0;left:0;width:100%;min-height:45vh;text-align:left;padding:15px 20px;padding-bottom:75px}
.notice-white .n-content .n-title,.notice .n-content .n-title{color:white;font-size:24px;line-height:35px;margin:20px 0 10px;display:block}
.notice-white .n-content .n-msg,.notice .n-content .n-msg{color:white;font-size:14px}
.notice-white .n-btn,.notice .n-btn{background-color:#05C3DE;color:white;font-size:14px;position:absolute;bottom:0;left:0;width:100%;height:60px;text-align:center;-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;border-radius:0;box-shadow:none;outline:none}
.notice-white .n-btn:hover,.notice-white .n-btn:focus,.notice-white .n-btn:active,.notice .n-btn:hover,.notice .n-btn:focus,.notice .n-btn:active{box-shadow:none;outline:none}
.notice-white .n-skip,.notice .n-skip{position:absolute;top:0;right:0;background:transparent;color:white;margin:15px 15px 0 0;box-shadow:none;outline:none}
.notice-white .n-skip:hover,.notice-white .n-skip:focus,.notice-white .n-skip:active,.notice .n-skip:hover,.notice .n-skip:focus,.notice .n-skip:active{box-shadow:none;outline:none}
.notice-white{background-color:white}
.notice-white .n-content{text-align:center}
.notice-white .n-content .n-title{color:#0A2022}
.notice-white .n-content .n-msg{color:#909090}
.notice-white .n-btn{background-color:#882082}
.n-image{width:330px}
}