<ion-content class="bg-purple">
    <div class="notice n-signup">
        <div class="n-content">
            <img src="../assets/imgs/n-welcome@3x.png" class="img-responsive center-block">
            <span class="n-title">Janaína, que tal customizar a página da sua área?</span>
            <div class="n-msg">
                <p>Assim todos outros colaboradores terão mais mais informações e interesse.</p>
            </div>
            <button type="button" (click)="doNext()" class="btn n-btn">Customizar área</button>
        </div>
    </div>
</ion-content>