<ion-content>

    <form *ngIf="form" [formGroup]="form" (ngSubmit)="doSave()">
    
        <div class="wrapper main-base login">
            <span class="col-xs-12 titulo-base main-item main-top">Cadastro</span>

            <!-- step 1 -->
            <div class="col-xs-12 main-content">
                    <p class="item-info">
                        <label [class.opacity0]="!form.controls.name.valid">Nome completo</label>
                        <input type="text" [readonly]="isReadyToSave" formControlName="name" placeholder="Nome completo">
                    </p>
                    <p class="item-info">
                        <label [class.opacity0]="!form.controls.role.valid">Função</label>
                        <input type="text" [readonly]="isReadyToSave" formControlName="role" placeholder="Função">
                    </p>
                    <p class="item-info">
                        <label [class.opacity0]="!form.controls.field.valid">Área</label>
                        <input type="text" [readonly]="isReadyToSave" formControlName="field" placeholder="Área">
                    </p>
                    <p class="item-info">
                        <label [class.opacity0]="!form.controls.workplace.valid">Local de trabalho</label>
                        <input type="text" [readonly]="isReadyToSave" formControlName="workplace" placeholder="Local de trabalho">
                    </p>
                    <p class="item-info">
                        <label [class.opacity0]="!form.controls.email.valid">E-mail</label>
                        <input type="email" [readonly]="isReadyToSave" formControlName="email" placeholder="E-mail">
                    </p>
                    <p class="item-info">
                        <label [class.opacity0]="!form.controls.company.valid">Empresa</label>
                        <input type="text" [readonly]="isReadyToSave" formControlName="company" placeholder="Empresa">
                    </p>
                    <p class="item-info">
                        <label [class.opacity0]="!form.controls.manager.valid">Gestor direto</label>
                        <input type="text" [readonly]="isReadyToSave" formControlName="manager" placeholder="Gestor direto">
                    </p>
                    <div class="clearfix"></div>
            </div>

            <div class="main-item">
                <button [class.active]="form.valid" [disabled]="!form.valid" class="btn btn-block btn-purple btn-k-submit btn-fix-footer" type="submit">{{ isReadyToSave ? 'Confirmar': 'Acessar' }}</button>
            </div>

        </div>
    </form>
    
</ion-content>
