<div class="wrapper flex-base additional">
    <

    <div class="wrapper flex-base">
        <button type="button" (click)="doEscape()" class="btn btn-escape">Pular</button>
    </div>

    <div class="steps">
        <span class="indicator active"></span>
        <span class="indicator"></span>
        <span class="indicator"></span>
        <button type="submit" class="pull-right next"></button>
    </div>
</div>