<ion-content class="bg-purple">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="doSave()">
        
        <div class="wrapper flex-base additional">
            <span class="col-xs-12 titulo-base flex-item flex-top">Quais as áreas da Raízen você quer saber mais?</span>

            <div class="step-1 col-xs-12 flex-main-login">
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="search" placeholder="Buscar áreas">
                </div>
            </div>
            
            <div class="wrapper flex-base">
                <button type="button" (click)="doEscape()" class="btn btn-escape">Pular</button>
            </div>

            <div class="steps">
                <span class="indicator"></span>
                <span class="indicator active"></span>
                <span class="indicator"></span>
                <button type="submit" class="pull-right next" [class.active]="form.valid" [disabled]="!form.valid"></button>
            </div>
        </div>
    </form>
</ion-content>
